@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');


body{
  background-color: #131316;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

section {
  display: grid;
  place-items: center;
  align-items: center;
  /* min-height: 100vh; */
}
.header{
  padding-top: 200px;
  padding-bottom: 30%;
}
h1{
  font-size: 56px;
}
h2{
  font-size: 40px;
}

.myname{
  padding-bottom: 100px;
}
.education{
  padding-bottom: 200px;
}
.project{

  padding-bottom: 200px;
}
.skill{
  padding-bottom: 200px;
}
.contact{
  padding-bottom: 50px;
}
.logos{
  /* padding-bottom: 200px; */
}

section.logos {
  display: block;
  margin: auto;
  width: 30%;
  background-color: white;
  margin-bottom: 20px;
}

div.container {
  padding: 10px 20px;
  color: black;
}
